.day {
	width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  overflow: hidden;
  perspective: 1500px;

  .background {
    background: no-repeat center;
    background-size: cover;
  }

  .label {
    font-size: 40vmin;
  }
  
}

.guard {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  transition: transform 1s linear;
  transform-origin: left center;

  h1 {
    text-transform: uppercase;
    font-size: 15vmin;
    line-height: 1;
  }

  >:first-child {
    padding: 0 32px;
  }
  >:last-child {
    padding: 32px;
    align-self: end;
    justify-self: end;
  }

  p {
    font-size: 10vmin;
    margin: 0;
  }

  button {
    appearance: none;
    background-image: none;
    background-color: #d50000;
    padding: 1rem 2rem;
    border-radius: 0;
    font-family: inherit;
    font-size: 5vmin;
    font-weight: 700;
    color: #fff;
    position: relative;
    border: none;
    box-shadow: none;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #d32f2f;
    }
    
    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      content: '';
      border-width: 0 0 16px 16px;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      content: '';
      border-width: 16px 16px 0 0;
      border-color: #ff1744 transparent transparent transparent;
    }
  }
}

.opened {
  transform: rotateY(-90deg);
}

.cover {
  color: #fff;
  background: #E0E0E0;

  position: relative;

  %child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .background {
    @extend %child;
    left: -10vw;
    right: -10vw;
    z-index: 1;
  }

  .label {
    @extend %child;
    position: relative;
    z-index: 2;
    text-align: center;
  }

  $background-color: #E0E0E0;

  .guard {
    background: $background-color;
    color: #212121;
    
    button::before {
      border-color: transparent transparent $background-color transparent;
    }
  }
}


.box {
  flex-direction: column; 
  background: #fafafa;
  color: #212121;

  .background {
    width: 40vmin;
    height: 40vmin;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }

  .label {
    margin: 0;
  }

  $background-color: #212121;

  .guard {
    background: $background-color;
    color: #fff;
  
    button::before {
      border-color: transparent transparent $background-color transparent;
    }
  }
}


@for $d from 1 through 25 {
  .day-#{$d} {
    .background {
      background-image: url('/assets/days/#{$d}.jpg');
    }
    
  }
}