html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgb(250, 250, 250);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.container {
  overflow: hidden;
  user-select: none;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  color: #4caf50;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: #00c853;
  }
}

.link-button {
  appearance: none;
  background-color: #00c853;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transition: background-color 0.25s ease-in-out,
    transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  text-decoration: none;
  display: inline-block;
  user-select: none;
  
  @media (min-width: 500px) and (min-height: 500px) {
    font-size: 2.5vmin;
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: #4caf50;
    transform: scale(1.1) rotateZ(5deg);
  }
}

h1,
h2,
p {
  margin: 0 0 1em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
